---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  h1 {
    margin-top: 1em;
  }
  a {
    text-decoration: solid;
  }
  a:hover {
    color: rgb(12, 112, 77);
  }
  p {
    margin-bottom: 20em;
    margin-top: 3em;
  }
</style>
<BaseLayout>
  <h1>🚧</h1>
  <h2>404</h2>
  <h3>Seite nicht gefunden</h3>
  <p>
    Die angeforderte Seite wurde nicht gefunden. Bitte überprüfe die URL oder
    gehe zurück zur <a href="/">Startseite</a>.
  </p>
</BaseLayout>
