---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="de">
	<head>
		
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                text-align: center;
                text-decoration: none;
            }
            a{
                text-decoration:solid;
            }
            a:hover {
                color: rgb(10, 185, 124);
            }
            p {
                margin-bottom: 20em;
                margin-top: 3em;
            }

        </style>
    </head>
    <body>
        <Header />
        <main>
                <h1>🚧</h1>
                <h2>404</h2>
                <h3>Seite nicht gefunden</h3>
                <p>Die angeforderte Seite wurde nicht gefunden. Bitte überprüfe die URL oder gehe zurück zur <a href="/">Startseite</a>.</p>
        <Footer />
    </body>
</html>