---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Über uns"
	description="Hier erfährst du mehr über Keks Magazin"
	pubDate={new Date('February 9, 2025')}
	heroImage="/aboutus.png"
>
	<h3>
		Wer ist Keks Magazin?
	</h3>
	<p>
		Wir sind eine Gruppe von Jugendlichen, die sich sehr für Politik und andere Themen interessieren.
	</p>
	<h3>
		Wieso machen wir das?
	</h3>
	<p>
	Wir wollen allen, besonders Kindern und Jugendlichen Politik erklären. Unser Ziel ist es, Politik allen verständlich zu machen.
	</p>
	<h3>
		Was sind unsere Themen?
	</h3>
	<p>
		Unser Schwerpunkt ist Politik, daneben bechöftigen wir uns noch mit der Stadt Ulm, wie unser Podcast-Name verrät.
	</p>
	<h3>
		Was machen wir?
	</h3>
	<p>
		Wir machen Podcasts und schreiben Artikel, in denen wir uns mit den Themen beschäftigen, die uns interessieren. Im Großteil handeln unsere Artikel von Politik. <br>

		In unserem Podcast ULMCAST (ehemals Keks Magazin) sprechen wir wöchentlich über drei Themen in Ulm,um Ulm und um Ulm herum, außerdem gibt es wie manche unserer Hörer es noch von Keks Magazin kennen, selbstverständlich weiterhin ein Thema aus der aktuellen Politik. <br>

		Außerdem gibt es auf unserem <a href="https://www.youtube.com/@Keks-Magazin">YouTube Kanal</a> Coding Tutorials und ab und zu auch andere Videos. <br>

		Es ist ein Podcast über Technologie geplant <br>

		Unsere Umfragen sind ein weiteres Projekt, bei dem wir die Meinungen unserer Hörerinnen und Hörer zu verschiedenen Themen einholen. <br>
	</p>
	<h3>
		Wo ist unser Podcast zu finden?
	</h3>
	<p>
		Unser Podcast ist auf <a href="https://open.spotify.com/show/4K4jrmdHuvpU2hTvsyIYPL">Spotify</a>, <a href="https://music.amazon.de/podcasts/7f9d972b-314f-418e-86eb-d7ae4a4aeeb6/keks-magazin">Amazon Music</a>, <a href="https://podcasts.apple.com/us/podcast/keks-magazin/id1778930782">Apple Podcasts</a>, <a href="https://overcast.fm/itunes1778930782">Overcast</a>,<a href="https://www.podchaser.com/podcasts/ulmcast-der-podcast-fur-ulm-un-5889867">Podchaser</a>,<a href="https://www.deezer.com/de/show/1001488731">Deezer</a>,<a href="https://castbox.fm/channel/Keks-Magazin-id6346820?country=de">Castbox</a>, <a href="https://plus.rtl.de/podcast/ulmcast-der-podcast-fuer-ulm-und-umgebung-1an8ymco2zyzx">RTL+ Music,</a> und <a href="https://goodpods.com/podcasts/ulmcast-der-podcast-für-ulm-und-umgebung-612191">Goodpods</a> verfügbar.
	</p>
	<h3>
		Wo finde ich neueste Nachrichten von Keks Magazin?
	</h3>
	<p>
		In unserem <a href="https://www.instagram.com/keks.magazin/">Instagram Kanal,</a>in unserem<a href="https://bsky.app/profile/keks-magazin.de"> Bluesky Kanal</a>,in unserem <a href="https://www.x.com/KeksMagazin">X/Twitter Kanal</a> und in unserem <a href="https://whatsapp.com/channel/0029Vak5TC85Ui2bu0KfWm0T">WhatsApp Kanal</a> findest du immer die aktuellsten Neuigkeiten rund um Keks Magazin.
	</p>
	<h3>
		Wie kann ich Kontakt aufnehmen?
	</h3>
	<p>
		Schreib uns einfach eine E-Mail an <a href="Mailto:Kontakt@Keks-Magazin.de">Kontakt@Keks-Magazin.de</a>.
	</p>
</Layout>
