---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="de">
	<head>
		
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
                <h1>Datenschutzerklärung</h1>

                <p>Die Keks Magazin nimmt den Schutz deiner personenbezogenen Daten sehr ernst. Wir behandeln deine personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften.</p>
                
                <h2>Verantwortliche</h2>
                
                <p>Verantwortliche für die Datenverarbeitung sind die Gesellschafter der Keks Magazin GbR:</p>
                
                <ul>
                <li>Anton Ponomarev </li>
                <li>Alexander </li>
                </ul>
                
                <h2>Erhebung und Verwendung personenbezogener Daten</h2>
                
                <p>Wir erheben keine personenbezogenen Daten von Benutzern, die unsere Website besuchen. Wir verlinken jedoch auf andere Websites, die möglicherweise personenbezogene Daten erheben. Wir haben keinen Einfluss auf die Datenschutzpraktiken dieser Websites und empfehlen dir, die Datenschutzerklärungen dieser Websites zu lesen.</p>
                
                <h2>Embed-Player von Apple Podcasts</h2>
                
                <p>Wir verwenden einen Embed-Player von Apple Podcasts, um unsere Podcasts auf unserer Website zu teilen. Der Player verwendet Statistiken, um die Nutzung unserer Podcasts zu messen. Apple Podcasts kann dabei personenbezogene Daten erheben, wie z.B. IP-Adressen und Browser-Informationen. Wir haben keinen Zugriff auf diese Daten und können nicht beeinflussen, wie Apple Podcasts diese Daten verwendet.</p>
                
                <h2>Cookies und Tracking-Technologien</h2>
                
                <p>Wir verwenden keine Cookies oder andere Tracking-Technologien, um Benutzer zu verfolgen oder um statistische Daten zu sammeln. Es ist jedoch möglich, dass die von uns verlinkten Websites oder der Embed-Player von Apple Podcasts Cookies oder andere Tracking-Technologien verwenden.</p>
                
                <h2>Kontakt</h2>
                
                <p>Wenn du Fragen oder Bedenken bezüglich der Datenschutzpraxis hast, kannst du uns unter <a href="mailto:Kontakt@Keks-Magazin.de">Kontakt@Keks-Magazin.de</a> kontaktieren.</p>
                
                <h2>Änderungen dieser Datenschutzerklärung</h2>
                
                <p>Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Die aktuelle Version der Datenschutzerklärung ist auf unserer Website verfügbar.</p>
        </main> 
        <Footer />
    </body>
</html>