---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 style="text-align:center;margin-top:2em">
				Herzlich Willkommen
			</h1>
			<p style="text-align:center">
				Wer oder was ist Keks Magazin? Hier kannst du mehr über uns erfahren:
			</p>
			<button type="button" onclick="location.href='about'">
				Über uns
			</button>
			<div class="rounded-box">
                <h2 style="text-align:center">
					Artikel
				</h2>
                <p style="text-align:center">
					Hier findest du unsere neuesten Artikel:
				</p>
                <button type="button" onclick="location.href='/index'">
					Artikel
				</button>
            </div>
			<div class="rounded-box">
                <h2 style="text-align:center">
					Umfragen
				</h2>
                <p style="text-align:center">
					Hier findest du unsere neuesten Umfragen:
				</p>
				<p style="text-align:center">
					<a href="https://forms.office.com/r/wpv4FfxgNR">
					Umfrage zur Bundestagswahl 2025
					</a>
				</p>
            </div>
		</main>
		<Footer />
	</body>
</html>



