---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="Projekte"
	description="..."
	pubDate={new Date('February 9, 2025')}
	heroImage="/placeholder.png"
>
<p>Hier ist gerade noch eine Baustelle. Schau später noch mal vorbei.</p>
</Layout>
