---
import SearchComponent from "astro-pagefind/components/Search";
import RootLayout from "../layouts/RootLayout.astro";
---
<RootLayout>
    <h2 style="text-align: center; margin-bottom: 2rem">Suche</h2>
    <SearchComponent id="search" className="pagefind-ui" uiOptions={{ showImages: false}} />
</RootLayout>
