---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="Umfragen"
	description="Hier findest du unsere aktuellen Umfragen"
	pubDate={new Date('February 9, 2025')}
	heroImage="/placeholder.png"
>
<p>Hier findest du unsere aktuellen Umfragen</p>
<h6>Umfrage zur Bundestagswahl 2024</h6>
<h4>UMFRAGE ABGELAUFEN</h4>
<p>Klicke <a href="#">hier</a> um zur Umfrage zu gelangen</p>
</Layout>