---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Keks Magazin Redaktion. All rights reserved. <br>
		<a href="Impressum.astro">Impressum</a>
		<a href="Datenschutz.astro">Datenschutz</a>
		<a href="Mailto:Kontakt@Keks-Magazin.de">E-Mail</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}

</style>
