---

---

<div>
  <h3>Herzlich Willkommen bei Keks Magazin!</h3>
  <h4>Dein Lifestyle Magazin von Jugendlichen für Jugendliche seit 2023</h4>
</div>

<style>
  div {
    background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin: 0.5em 0em;
    margin-bottom: 1em;
  }
  h3 {
    padding: 1em;
    text-align: center;
    margin-top: 3em;
  }
  h4 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  @media (max-width: 720px) {
    h3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1em;
    }
  }
</style>
